<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.xamarin.auth.tests.unmod" android:versionCode="1" android:versionName="1">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
	<application android:label="XamarinAuthTestsUnmod" android:icon="@drawable/Icon"></application>
</manifest>